/* Common */

*{
    margin:0;
    padding:0;
}

img{
    max-width: 100%;
}

.primary-width{
    max-width: 1140px;
    margin: auto;
}

h1,h2{
   font-family: "Noto Serif", serif;
}

.mt-120{
    margin-top:130px!important;
}

/* Font */
.noto {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* nav styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 0px;
    margin-bottom: 120px;
}
.logo img{
    max-width: 80%;
}

nav>ul{
    list-style: none;
    display: flex;
    gap:50px;

}

nav li a{
    text-decoration: none;
    color: #252432;
}

#home{
    font-weight: bold;
}

.dim{
    color: #8987A1;

}

#cart{
    margin-right: 10px;
}

/* Banner */

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-left h1{
    font-size: 4rem;
    margin-bottom: 20px;
}

.banner-left p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
}

.banner-right img{
    display: block;
}

.banner>div{
    flex:1;
}

.orange{
    color: #E95A08;
}


/* Plants */

.plant-content{
    text-align: center;
    width:70%;
    margin:0 auto;
    margin-bottom: 50px;
}

.plant-content h2{
    margin-bottom: 30px;
    font-size: 3.1rem;

}

.plant-content p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
}

.card-container{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap:20px;
    text-align: center;
}

.card > *{
    margin-bottom:20px;
    font-size:1rem;
}
.card>h3{
    font-weight: 500;
    font-size:1.3rem;
}



.card>h3:last-of-type{
    font-weight: bold;
}

.card button{
    box-sizing: border-box;
    width:100%;
    padding:18px 0px;
    color:white;
    background-color: #E95A08;
    font-weight: 500;
    border:none;
    margin-bottom: 0px;
    margin-top: 10px;
}


/* Flower lover */

.flower-lover{
    display: flex;
    gap:60px;
    justify-content: space-between;
}

.flower-lover>div{
    flex:1;
}

.flower-lover-left{
    position: relative;
}

.flower-lover-left img{
    display: block;
}
.flower-lover-right h1{
    font-size: 3.1rem;
}
.flower-lover-right li{
    list-style: disc;
    margin:40px 0px;
    font-size: 1.3rem;
    color:rgba(0, 0, 0, 0.5)
}

#trusted-badge{
   width: 280px;
    position: absolute;
    top: -143px;
    right: -95px;
}

/* Responsive */
@media screen and (max-width:576px) {

    .mobile-hidden{
        display: none;
    }

    nav,
    .banner-left,
    .plants,
    .flower-lover{
        width:calc(100% - 40px);
        margin:0 auto;
        /* padding:0px 20px; */
    }

    .plants,.flower-lover{
        margin-top:65px!important;
    }

    .banner{
        flex-direction: column-reverse;
        gap:50px;
    }

    .banner-left h1{
        font-size: 1.5rem;
    }

    .banner-left p{
        font-size: 0.8rem;
    }

    /* Plant section responsive */

    .card-container{
        grid-template-columns: repeat(2,1fr);
    }

    .plant-content{
        width:100%;
    }

    .card h3{
        font-size: 1rem;
    }

    .card button{
        font-size: 0.8rem;
    }

    .plant-content h2{
        font-size: 1.5rem;
    }

    .plant-content p{
        font-size: 0.8rem;
    }

    #trusted-badge{
        display: none;
    }

    .flower-lover{
        flex-direction: column;
    }

    .flower-lover-right br{
        display: none;
    }

    .flower-lover-right h1{
        font-size: 1.5rem;
    }

    .flower-lover-right ul{
        padding-left: 1rem;
    }

}
