/* Common */

*{
    margin:0;
    padding:0;
}

img{
    max-width: 100%;
}

.primary-width{
    max-width: 1140px;
    margin: auto;
}

h1,h2,h3{
   font-family: "Noto Serif", serif;
}


/* Font */
.noto {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight:bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}



/* nav styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    max-width: 80%;
}

nav>ul{
    list-style: none;
    display: flex;
    gap:50px;

}

nav li a{
    text-decoration: none;
    color: #252432;
}

#home{
    font-weight: bold;
}

.dim{
    color: #8987A1;

}

#cart{
    margin-right: 10px;
}

/* Banner */

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-left h1{
    font-size: 4rem;
    margin-bottom: 20px;
}

.banner-left p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
}

.banner-right img{
    display: block;
}

.banner>div{
    flex:1;
}

.orange{
    color: #E95A08;
}